<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- android:exported 当前`provider`是否可以被其它`App`使用。-->
        <provider
            android:name="hobby.wei.c.persist.SharedPreferencesProvider"
            android:authorities="\$\{applicationId\}.MPSPREF"
            android:exported="false"
            android:multiprocess="false"
            android:process=":spref" />
    </application>
</manifest>
